.banner{
background-color: wheat;
color: purple;
margin-top: 75px;
text-align: center;
padding: 100px, 0;
}

#banner-img{
    width: 100px;
    height:100px;
}

#desc-id{
    color: purple;
    font-size: 25px;
}
.desc-class{
    font-weight: bold;
}


    


   










